# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://zrplzmteuipjcsllmoad.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpycGx6bXRldWlwamNzbGxtb2FkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjQ4NDcwNiwiZXhwIjoyMDYyMDYwNzA2fQ.Pn_tQkhQzBCuDSBooW24Tefm7EWedmff7JhTzNqNKu0
